:root {
    --color-green: #94f1c1;
    --color-purple: #D9BDE5;
    --color-purple-dim: #B3A7B8;
    --color-blue: #A3E7FC;
    --color-blue-dim: #acc5ce;
    --color-blue-dim-rgb: 172 197 206;

    --color-button-like: var(--color-blue);
    --color-button-dislike: var(--color-purple);
    --color-button-play: var(--color-green);

    --font-size-title: 36px;
    --font-size-list: 20px;
    --font-size-text-area: 18px;
}

body {
    background-color: #f8f8f8;
}

.app {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 0 5vw;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
}

.title {
    font-size: var(--font-size-title);
    margin-right: auto;
}

.time {
    font-size: var(--font-size-title);
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto 80px;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
    padding-bottom: 40px;
    overflow: hidden;
}

.main--state-finished {
    grid-template-rows: unset;
}

/* arguments */

.arguments-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    grid-column: 1 / span 2;
}

.arguments {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    grid-column: 1 / span 2;
    overflow: hidden;
}

.arguments:after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    border-right: 2px dashed var(--color-blue-dim);
}

.arguments-list-title {
    margin: 0;
}

/* button */

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s opacity;
}

.button:hover {
    opacity: 0.8;
}

.button-vote {
    width: 30px;
    height: 30px;
}

.button--like {
    background-color: var(--color-button-like);
}

.button--dislike {
    background-color: var(--color-button-dislike);
}

.button--play {
    margin-right: 8px;
    background-color: var(--color-button-play);
}

.button-send-argument {
    background-color: var(--color-blue-dim);
}

.icon--dislike {
    transform: rotate(180deg);
}
